{{ define "main" }}
<div class="flex min-vh-100 flex-column-reverse bg-black">
{{ partial "footer.html" . }}
<div class="mw6 center pb3 pb5-ns">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 " cellspacing="0">
      <tbody class="lh-copy moon-gray">
    {{ range (.Site.GetPage "section" "posts").Pages }}
        <tr>
          <td class="pv1 pv3-ns bb b--black-20">
            <time datetime="2016-1-1">{{ .Date.Format "2006.Jan.02" }}</time>
          </td>
          <td class="pv1 pv3-ns ph2-ns bb b--black-20">
        <a href="{{ .Permalink }}" class="link dim moon-gray">{{ .Title }}</a>
	  </td>
        </tr>
    {{end}}
      </tbody>
    </table>
  </div>
</div>
<header class="tc ph4">
  <h1 class="f2 f-subheadline-ns lh-title-ns mid-gray mv3">
    Dev Journal
  </h1>
  <h2 class="f4 f3-ns gray mt0 lh-copy">
    ge/mini log
  </h2>
</header>
</div>
{{ end }}

