<footer class="w-100 pv0 tr">
     <a href="https://tachyons.io"
        class="dib link dim gold bg-center cover"
        style="background-image:url(/img/made-with-tachyons.png);width:85px;height:16px;"
        ></a>
     <a href="https://gohugo.io"
        class="f6 dib no-underline dim">
        <span class="text-gradient">Hugo</span></a>
     <a href="https://gohugo.io/about/hugo-and-gdpr/#disable-all-services"
        class="f6 dib link dim white-10">Privacy</a>
     <small class="f6 dib near-black">2022 興怡</small>
</footer>
