{{ define "main" }}
<div class="flex min-vh-100 flex-column-reverse bg-black">
{{ partial "footer.html" . }}
<div class="dt w-100 pb3 pb5-ns">
  <div class="dtc v-mid ph3 ph4-l ">
     <h1 class="f2 lh-copy f-subheadline-ns lh-title-ns tc dark-gray">{{.Title}}</h1>
     <h3 class="f4 center mw5 mid-gray">&gt;_</h3>
      <ul class="list pl0 ml0 center mw5 ba b--near-black br3 ">
       <li class="ph3 pv2 bb b--near-black">
	       <a href="/posts/" class="link dim moon-gray">Devlog</a></li>
       <li class="ph3 pv2 bb b--near-black">
	       <a href="/2020/" class="link dim moon-gray">2020</a></li>
       <li class="ph3 pv2 bb b--near-black">
	       <a href="/2019.html" class="link dim moon-gray">2019</a></li>
       <li class="ph3 pv2  b--near-black">
	       <a href="/about/" class="link dim moon-gray">About</a></li>
      </ul>
      <p>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </p>
  </div>
</div>
</div>
{{ end }}
